{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<main role="main">
    <div class=container>
        <p><a class="btn btn-secondary" href="/new" role="button"> New Meeting </a>
        <a class="btn btn-secondary" href="/" role="button"> Home </a></p>
        <h3> Meetings List</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Time</th>
                <th scope="col">Frequency</th>
                <th scope="col">Link</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for meeting in config.all_meetings %}
            <tr>
                <th scope="row">{{ meeting['title'] }}</th>
                <td>{{ meeting['description'] }}</td>
                <td>{{ meeting['time'] }}</td>
                <td>{{ meeting['frequency'] }}</td>
                <td>{{ meeting['link'] }}</td>
                <td><a class="btn btn-secondary btn-sm" href="{{url_for('edit', index_position = loop.index-1 )}}"
                       role="button">Edit</a></td>
                <td><a class="btn btn-secondary btn-sm" href="{{url_for('delete', index_position = loop.index-1 )}}"
                       role="button">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}